@import '_cores/styles/_assets.scss';

.brand {
  display: flex;
  align-items: center;
  background-color: color(neutral, 2);
  @include radius(md);
  border-radius: 16px;
  padding: 24px;
  @include medium {
    flex-direction: column;
    align-items: flex-start;
  }
  @include x-small {
    padding: 16px;
  }

  &__info {
    display: flex;
    align-items: center;
    width: 456px;
    margin-right: 32px;
    @include medium {
      width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
    }
    @include x-small {
      margin-bottom: 24px;
    }
  }

  &__logo {
    width: 112px;
    height: 80px;
    @include radius(sm);
    border: 1px solid color(neutral, 3);
    overflow: hidden;
    margin-right: 24px;
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @include x-small {
      margin-right: 16px;
      width: 88px;
      height: 64px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    @include font-size(h3);
    font-weight: fw(medium);
    color: color(neutral, 9);
    margin-bottom: 8px;
    @include x-small {
      @include font-size(h4);
      margin-bottom: 6px;
    }
  }

  &__desc {
    text-decoration: none;
    display: flex;
    align-items: center;
    @include font-size(button-small);
    color: color(primary, 6);
    margin-bottom: 0;
    @include remove-tap-highlight;
    &[href] {
      transition: all 0.3s ease;
      @include hover-underline;
      &:hover {
        @include hover-underline(active);
      }
    }
    @include retina {
      @include font-size(small);
    }
    span {
      margin: 4px 8px 0;
    }
    i {
      font-size: 16px;
    }
  }

  &__stats {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 12px 24px;
    @include medium {
      width: 100%;
    }
  }

  &__stat {
    width: 100%;
    display: flex;
    align-items: center;
    @include font-size(h6);
    font-weight: fw(regular);
    @include x-small {
      @include font-size(body);
    }
    @include x-small {
      @include font-size(caption);
    }
    & i {
      color: color(primary, 6);
      margin-right: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    & span {
      padding-top: 6px;
      @include x-small {
        padding-top: 4px;
      }
    }
  }
}
