@import '_cores/styles/_assets.scss';

.productPopular {
  padding: 88px 0;
  @include medium {
    padding: 64px 0;
  }
  @include x-small {
    padding: 48px 0;
  }
  .title {
    @include font-size(h3);
    font-weight: fw(regular);
    color: color(neutral, 9);
    margin-bottom: 56px;
    width: 100%;
    text-align: center;
    @include medium {
      margin-bottom: 48px;
    }
    @include x-small {
      @include font-size(h4);
      margin-bottom: 32px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: -12px;
    margin-right: -12px;

    @include medium {
      margin: -12px 0 0 -12px;
    }
    @include x-small {
      margin: -8px 0 0 -8px;
    }
  }
  .productItem {
    width: 25%;
    padding: 0 12px;
    @include medium {
      padding: 12px;
      width: 50%;
    }
    @include x-small {
     padding: 8px;
    }
  }
}
