@import '_cores/styles/_assets.scss';

.CareerBanner {
  padding: 12px 0;
  width: 100%;

  &Wrapp {
    height: 600px;
    width: 100%;
    position: relative;
    @include medium {
      height: 480px;
    }
    @include small {
      height: 320px;
    }
    @include x-small {
      height: 288px;
    }
  }
  &Img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
