@import '_cores/styles/_assets.scss';

.drawer {
  position: fixed;
  inset: 0;
  z-index: zi(drawer);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
  &Open {
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;
    .overlay {
      opacity: 1;
      transition-delay: 0s;
    }
    .inner {
      transform: none;
      transition-delay: 0.1s;
    }
    .head,
    .body {
      opacity: 1;
      transform: none;
      transition-delay: 0.3s;
    }
  }
}
.inner {
  position: relative;
  z-index: zi(drawer-inner);
  background-color: color(neutral, 1);
  width: 100%;
  height: 100%;
  max-width: 640px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.35s ease 0.2s;
  @include medium {
    max-width: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid color(neutral, 3);
  padding: 24px;
  opacity: 0;
  transform: translateX(16px);
  transition: all 0.35s ease 0s;
  @include medium {
    transform: translateY(16px);
  }
  .auth & {
    padding: 0;
    border-bottom: 0;
  }
}
.body {
  height: calc(100% - 77px);
  @include scroll(y);
  opacity: 0;
  transform: translateX(16px);
  transition: all 0.35s ease 0s;
  @include medium {
    transform: translateY(16px);
  }
  .auth & {
    height: 100%;
  }
}
.title {
  @include font-size(h6);
  font-weight: fw(regular);
  color: color(primary, 9);
  margin-bottom: 0;
}
.close {
  border: 0;
  outline: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  &:hover {
    transform: rotate(90deg);
  }
  i {
    font-size: 2.4rem;
  }
  .auth & {
    position: absolute;
    top: 64px;
    right: 64px;
    @include large {
      top: 32px;
      right: 32px;
    }
    @include small {
      top: 24px;
      right: 24px;
    }
  }
}
.overlay {
  z-index: zi(drawer-overlay);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(opacity, 2);
  transition: all 0.3s ease 0.3s;
  opacity: 0;
  @include remove-tap-highlight;
}
