@import '_cores/styles/_assets.scss';

.legalcontent {
  padding: 80px 0 104px;
  @include medium {
    padding: 64px 0 72px;
  }
  @include x-small {
    padding: 40px 0 56px;
  }
  &__inner {
    padding: 0 96px;
    @include medium {
      padding: 0;
    }
  }
  &__header {
    margin-bottom: 32px;
  }

  &__header {
    margin-bottom: 40px;
    @include x-small {
      margin-bottom: 32px;
    }
  }
  &__date {
    @include font-size(caption);
    color: color(neutral, 7);
    margin-bottom: 24px;
  }

  &__title {
    @include font-size(h3);
    font-weight: fw(medium);
    margin-bottom: 16px;
    @include text-gradient(color(gradient, 1), color(primary, 9));
    display: inline-block;
    @include x-small {
      @include font-size(h4);
    }
  }

  &__description {
    @include font-size(h6);
    color: color(neutral, 7);
    margin: 0;
    @include x-small {
      @include font-size(body);
    }
  }
  &__body {
    & :global(h4) {
      @include font-size(h4);
      font-weight: fw(medium);
      color: color(neutral, 7);
      margin-bottom: 24px;
      @include x-small {
        @include font-size(h5);
        margin-bottom: 16px;
      }
    }
    & :global(h5) {
      @include font-size(h5);
      font-weight: fw(medium);
      color: color(neutral, 7);
      margin-bottom: 8px;
      @include x-small {
        @include font-size(h6);
      }
    }
    & :global(h6) {
      @include font-size(h6);
      font-weight: fw(medium);
      color: color(neutral, 7);
      margin-bottom: 8px;
    }
    & :global(ol) {
      padding-left: 12px;
      margin-bottom: 32px;
      & ul {
        padding: 0;
        list-style: disc;
        margin-bottom: 24px;
      }
    }
    & :global(p) {
      margin-bottom: 24px;
      @include font-size(body);
      font-weight: fw(regular);
      color: color(neutral, 7);
      @include x-small {
        margin-bottom: 16px;
      }
    }
    & :global(strong) {
      @include font-size(h6);
      font-weight: fw(medium);
      color: color(neutral, 7);
      display: block;
      margin-bottom: 8px;
      @include x-small {
        @include font-size(h6);
      }
    }
    & :global(li) {
      @include font-size(h6);
      font-weight: fw(regular);
      color: color(neutral, 7);
      @include x-small {
        @include font-size(body);
      }
    }
  }
}
