@import '_cores/styles/_assets.scss';

.collection {
  position: relative;
  width: 100%;
  min-height: 704px;
  @include medium {
    min-height: 640px;
  }
  @include x-small {
    min-height: 560px;
  }

  &__wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }
}
