@import '_cores/styles/_assets.scss';

.sectionTitle {
  padding: 80px 0;
  @include medium {
    padding: 64px 0;
  }
  @include x-small {
    padding: 40px 0;
  }

  .careerWrapp {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  .careerTitle {
    @include font-size(h2);
    font-weight: fw(medium);
    margin-bottom: 24px;
    @include text-gradient(color(gradient, 1), color(primary, 9));
    @include medium {
      @include font-size(h3);
      margin-bottom: 20px;
    }
    @include x-small {
      @include font-size(h4);
      margin-bottom: 16px;
    }
  }

  .careerDesc {
    @include font-size(h5);
    margin: 0;
    color: color(neutral, 7);
    @include medium {
      @include font-size(h6);
    }
    @include x-small {
      @include font-size(body);
    }
  }

}
