@import '_cores/styles/_assets.scss';

.modal {
  position: fixed;
  inset: 0;
  z-index: zi(modal);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  &.fullscreen {
    @include small {
      left: 0;
      top: 0;
      align-items: flex-start;
    }
    .inner {
      @include small {
        width: 100%;
        max-width: initial;
        margin: 0;
        border-radius: 0;
      }
    }
    .body {
      @include small {
        height: calc(100vh - 64px);
        max-height: 100%;
      }
    }
  }
  &Open {
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;
    .overlay {
      opacity: 1;
      transition-delay: 0s;
    }
    .inner {
      opacity: 1;
      transform: none;
      transition-delay: 0.2s;
    }
  }
}
.success {
  .inner {
    max-width: 440px !important;
    padding: 50px 32px;
    z-index: 1;
  }
  .head {
    padding: 0;
    border: 0;
    justify-content: center;
    margin-bottom: 40px;
    @include medium {
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 24px;
    }
  }
  .title {
    @include font-size(h2);
    text-align: center;
    @include medium {
      @include font-size(h3);
    }
    @include small {
      @include font-size(h4);
    }
  }

  .body {
    padding: 0;
    text-align: center;
    & div {
      @include font-size(h5);
      font-weight: fw(regular);
      color: color(neutral, 6);
      @include x-small {
        @include font-size(body);
      }
    }
  }
}
.inner {
  position: relative;
  z-index: zi(2);
  background-color: color(neutral, 1);
  width: 100%;
  transition: all 0.35s ease;
  opacity: 0;
  transform: translateY(16px);
  transition-delay: 0s;
  margin: 32px;
  border-radius: 16px;
  z-index: 1;
  @include small {
    margin: 24px;
  }
  .small & {
    max-width: 532px;
  }
  .medium & {
    max-width: 728px;
  }
  .large & {
    max-width: 960px;
  }
  .chart & {
    @include medium {
      margin: 0;
      max-width: initial;
      height: calc(100% - 48px);
    }
  }
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid color(neutral, 3);
  padding: 16px 24px;
  @include small {
    padding: 16px;
  }
}
.body {
  @include scroll(y);
  max-height: 680px;
  padding: 24px;
  @include medium {
    max-height: 560px;
    .chart & {
      max-height: calc(100% - 64px);
    }
  }
  @include small {
    padding: 24px 16px;
  }
}
.title {
  @include font-size(h6);
  font-weight: fw(medium);
  color: color(neutral, 8);
  margin-bottom: 0;
}
.close {
  border: 0;
  outline: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  &:hover {
    transform: rotate(90deg);
  }
  i {
    font-size: 2.4rem;
  }
}
.content {
  width: 100%;
}
.link {
  display: inline-block;
}
.overlay {
  z-index: zi(modal-overlay);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(opacity, 2);
  transition: all 0.3s ease;
  opacity: 0;
  @include remove-tap-highlight;
}
