@import '_cores/styles/_assets.scss';

.ourBranches {
  padding-top: 96px;
  padding-bottom: 88px;
  @include large {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  @include medium {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @include small {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.title {
  text-align: center;
  margin-bottom: 64px;
  font-weight: fw(medium);
  @include medium {
    @include font-size(h3);
    margin-bottom: 48px;
  }
  @include small {
    margin-bottom: 32px;
    @include font-size(h4);
  }
}
.img {
  &El {
    width: 100%;
  }
}
