@import '_cores/styles/_assets.scss';

.faqs {
  padding: 80px 0 72px;
  @include medium {
    padding: 60px 0 64px;
  }
  @include x-small {
    padding: 40px 0 56px;
  }

  &Header {
    max-width: 600px;
    margin: 0 auto 48px;
    @include medium {
      margin-bottom: 32px;
    }
    @include x-small {
      margin-bottom: 24px;
      max-width: 100%;
    }
  }

  &Title {
    @include font-size(h2);
    font-weight: fw(medium);
    @include text-gradient(color(gradient, 1), color(primary, 9));
    text-align: center;
    margin-bottom: 24px;
    @include medium {
      @include font-size(h3);
      margin-bottom: 20px;
    }
    @include x-small {
      @include font-size(h4);
      margin-bottom: 16px;
    }
  }

  &Desc {
    @include font-size(h5);
    color: color(neutral, 7);
    text-align: center;
    margin: 0;
    @include medium {
      @include font-size(h6);
    }
    @include x-small {
      @include font-size(body);
    }
  }

  &Empty {
    max-width: 292px;
    padding: 120px 0 72px;
    margin: 0 auto;
    text-align: center;
    @include medium {
      padding: 108px 0 64px;
    }
    @include x-small {
      padding: 94px 0;
      max-width: 100%;
    }

    &Img {
      margin-bottom: 32px;
      display: inline-block;
      width: 230px;
      height: auto;
      @include x-small {
        width: 122px;
        margin-bottom: 24px;
      }
    }

    &Title {
      @include font-size(h5);
      font-weight: fw(medium);
      color: color(primary, 13);
      margin-bottom: 12px;
      @include x-small {
        @include font-size(h6);
        margin-bottom: 8px;
      }
    }

    &Desc {
      @include font-size(body);
      color: color(neutral, 8);
      margin: 0;
    }
  }

  &Wrapp {
    padding: 48px 120px 0;
    @include medium {
      padding: 32px 32px 0;
    }
    @include x-small {
      padding: 24px 0 0;
    }
  }

  &List {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  &Item {
    padding: 20px 0;
    border-bottom: 1px solid color(neutral, 3);
    transition: border-color 0.25s ease;
    @include remove-tap-highlight;

    &:hover {
      border-color: color(primary, 6);

      .faqsItemTitle {
        color: color(primary, 6);
      }
    }

    &.active {
      border-color: color(primary, 6);

      .faqsItemTitle {
        color: color(primary, 6);
      }

      .faqsItemToggle {
        color: color(primary, 6);
      }
    }

    &Head {
      display: flex;
      cursor: pointer;
      @include remove-tap-highlight;
    }

    &Content {
      margin-right: 20px;
      flex: 1;
    }

    &Title {
      @include font-size(h6);
      font-weight: fw(medium);
      color: color(neutral, 8);
      margin: 0;
      transition: color 0.25s ease;
      @include remove-tap-highlight;
    }

    &Body {
      overflow: hidden;
    }

    &Details {
      padding-top: 12px;
    }

    &Desc {
      @include font-size(body);
      font-weight: fw(regular);
      color: color(neutral, 6);
      margin: 0;
    }

    &Toggle {
      margin-top: 4px;
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      border-radius: 50%;
      padding: 0;
      background-color: transparent;
      border: 1px solid color(neutral, 3);
      color: color(neutral, 6);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      transition: color 0.25s ease;
      @include remove-tap-highlight;

      @include x-small {
        width: 24px;
        height: 24px;
      }
    }

    &IconWrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &Icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      > * {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
