@import '_cores/styles/_assets.scss';

.faqs {
  padding: 80px 0 72px;
  @include medium {
    padding: 60px 0 64px;
  }
  @include x-small {
    padding: 40px 0 56px;
  }


  &Header {
    max-width: 600px;
    margin: 0 auto 48px;
    @include medium {
      margin-bottom: 32px;
    }
    @include x-small {
      margin-bottom: 24px;
      max-width: 100%;
    }
  }
  &Title {
    font-family: ff(title);
    @include font-size(h2);
    font-weight: fw(medium);
     @include text-gradient(color(gradient, 1), color(primary, 9));
    text-align: center;
    margin-bottom: 24px;
    @include medium {
      @include font-size(h3);
      margin-bottom: 20px;
    }
    @include x-small {
      @include font-size(h4);
      margin-bottom: 16px;
    }
  }
  &Desc {
    @include font-size(h5);
    color: color(neutral, 16);
    text-align: center;
    margin: 0;
    @include medium {
      @include font-size(h6);
    }
    @include x-small {
      @include font-size(body);
    }
  }
  &Empty {
    max-width: 292px;
    padding: 120px 0 72px;
    margin: 0 auto;
    text-align: center;
    @include medium {
      padding: 108px 0 64px;
    }
    @include x-small {
      padding: 94px 0;
      max-width: 100%;
    }
    &Img {
      margin-bottom: 32px;
      display: inline-block;
      width: 230px;
      height: auto;
      @include x-small {
        width: 122px;
        margin-bottom: 24px;
      }
    }
    &Title {
      @include font-size(h5);
      font-weight: fw(medium);
      color: color(primary, 13);
      margin-bottom: 12px;
      @include x-small {
        @include font-size(h6);
        margin-bottom: 8px;
      }
    }
    &Desc {
      @include font-size(body);
      color: color(neutral, 13);
      margin: 0;
    }
  }

  &Wrapp {
    padding: 48px 120px 0;
    @include medium {
      padding: 32px 32px 0;
    }
    @include x-small {
      padding: 24px 0 0;
    }

  }

  &List {
    padding: 0;
    list-style: none;
  }
  &Item {
    padding: 20px 0;
    border-bottom: 1px solid color(neutral, 14);
    transition: border-color 0.25s ease, color 0.25s ease;
    @include remove-tap-highlight;
    &:hover {
      border-color: color(primary, 10);
      .faqsItemTitle {
        color: color(primary, 10);
      }
    }
    &.active {
      border-color: color(primary, 10);
      .faqsItemToggle {

      color: color(primary, 10);
    }
    }
    &Head {
      flex: 1;
      display: flex;
      cursor: pointer;
    }
    &Content {
      margin-right: 20px;
      flex: 1;
    }
    &Title {
      @include font-size(h6);
      font-weight: fw(medium);
      color: color(neutral, 13);
      margin: 0;
      @include remove-tap-highlight;
      .active & {
        color: color(primary, 10);
      }
      // @include x-small {
      //   @include font-size(body);
      // }
    }

    .faqsItemBody {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.45s ease;
      padding-top: 0;
      &.open {
        max-height: 600px;
      }
    }

    .faqsItemDetails {
      opacity: 0;
      transform: translateX(16px);
      pointer-events: none;
      transition:
        opacity 0.3s 0.15s,
        // delay 0.15s (set ke separuh durasi max-height body)
        transform 0.3s 0.15s;

      &.show {
        padding-top: 10px;
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
        transition:
          opacity 0.3s ease 0,
          5s,
          transform 0.3s ease 0.5s;
      }
    }

    &Details {
      transition:
        opacity 0.3s,
        transform 0.3s;
      @include medium {
        padding-top: 16px;
      }
    }

    &Type {
      @include font-size(h6);
      font-weight: fw(regular);
      color: color(neutral, 7);
      margin-bottom: 8px;
      @include x-small {
        @include font-size(body);
      }
    }
    &Desc {
      @include font-size(body);
      font-weight: fw(regular);
      color: color(neutral, 6);
      margin-bottom: 0;
    }
    .faqsItemToggle {
      margin-top: 4px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      padding: 0;
      background-color: transparent;
      border: 1px solid color(neutral, 14);
      color: color(neutral, 12);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      @include x-small {
        width: 24px;
        height: 24px;
      }
    }

    .iconVisible {
      opacity: 1;
      transition: opacity 0.3s;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .iconHidden {
      opacity: 0;
      transition: opacity 0.3s;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
