@import '_cores/styles/_assets.scss';

.card {
  @include radius(md);
  border: 1px solid color(neutral, 3);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    .cardImageEl {
      transform: scale(1.06);
    }
  }
  &Image {
    position: relative;
    overflow: hidden;
    background-color: color(neutral, 2);
    padding-bottom: 100%;
    &El {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
    }
  }

  .badgeWrap {
    position: absolute;
    left: 12px;
    top: 12px;
    display: flex;
    align-items: center;
    @include x-small {
      left: 8px;
      top: 8px;
      padding: 2px 6px;
      @include font-size(x-small);
    }
    .badge {
      background-color: color(danger, 7);
      padding: 4px 8px;
      color: color(neutral, 1);
      @include font-size(small);
      border-radius: 4px;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      @include retina {
        @include font-size(x-small);
      }
    }
  }
  .details {
    padding: 20px 16px;
    @include x-small {
      padding: 20px 16px 16px;
    }
    @include retina {
      padding: 16px 12px;
    }
  }

  .meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    &Left {
      display: flex;
      align-items: center;
      & i {
        color: color(primary, 6);
        margin-right: 4px;
        @include font-size(small);
      }
      .rating {
        @include font-size(small);
        color: color(neutral, 7);
      }
    }
    .button {
      position: relative;
      z-index: 3;
      background-color: transparent;
      padding: 0;
      margin: 0;
      border: none;
      font-size: 18px;
      line-height: 1;
      color: color(neutral, 7);
      &:hover {
        color: color(primary, 7);
        i::before {
          content: '\e957';
        }
      }
      &.favorited i {
        color: color(primary, 6);
      }
    }
  }
  .name {
    @include font-size(body);
    font-weight: fw(medium);
    color: color(neutral, 9);
    margin-bottom: 8px;
    @include multiline-ellipsis(2);
    @include x-small {
      @include font-size(caption);
    }
    @include retina {
      @include font-size(small);
    }
  }

  .priceWrap {
    display: flex;
    align-items: center;
    @include retina {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  .price {
    @include font-size(body);
    font-weight: fw(bold);
    color: color(primary, 6);
    margin-right: 8px;
    margin-bottom: 0;
    @include x-small {
      @include font-size(caption);
    }
    @include retina {
      @include font-size(small);
    }
  }

  .priceOld {
    @include font-size(small);
    color: color(neutral, 6);
    text-decoration: line-through;
    margin-bottom: 0;
    @include x-small {
      @include font-size(x-small);
    }
  }

  .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    @include remove-tap-highlight;
  }
}
