@import '_cores/styles/_assets.scss';

.input,
.select,
.textarea {
  display: block;
  width: 100%;
  padding: 15px;
  @include radius(sm);
  border: 1px solid color(neutral, 4);
  @include placeholder-color(color(neutral, 6));
  color: color(neutral, 7);
  @include font-size(button-medium);
  font-weight: fw(regular);
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    border-color: color(primary, 2);
    @include shadow(5);
    outline: none;
  }
  @include small {
    padding: 14px 12px 12px;
  }
  &Icon {
    padding-left: 48px;
  }
  &Password {
    padding-right: 48px;
  }
  &Underline {
    border: none;
    border-bottom: 1px solid color(neutral, 4);
    border-radius: 0;
    padding-left: 32px;
    &:hover,
    &:focus {
      border-color: color(primary, 9);
    }
  }
  &Small {
    padding: 12px 12px 10px;
    @include font-size(button-small);
  }
}
.textarea {
  height: 112px;
  resize: none;
}

.icon {
  position: absolute;
  left: 16px;
  bottom: 12px;
  // top: 50%;
  // transform: translateY(-50%);
  @include font-size(h5);
  color: color(neutral, 6);
  line-height: 1;
  @include small {
    bottom: 10px;
  }
  &Password {
    left: auto;
    right: 16px;
    bottom: 8px;
    cursor: pointer;
  }
  &Underline {
    left: 0;
  }
}

.error {
  border-color: color(danger, 6);
}

.errorMsg {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: color(danger, 6);
  @include font-size(small);
  font-weight: fw(regular);
  margin-bottom: 0;
}
