@import '_cores/styles/_assets.scss';

/* Overlay / backdrop */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 1200;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* dim backdrop */
.backdrop {
  position: absolute;
  inset: 0;
  background: var(--opacity-color-black-24, rgba(23, 23, 23, 0.24));
  backdrop-filter: blur(4px);
}

/* modal panel */
.panel {
  position: relative;
  width: 416px;
  max-width: calc(100% - 40px);
  background: color(neutral, 1);
  @include radius(lg);
  padding: 32px 20px;
  z-index: 2;
  text-align: center;
  overflow: hidden;
  @include x-small {
    width: 336px;
    padding: 24px 20px;
  }
}

.body {
  margin-bottom: 40px;
}

/* icon circle */
.iconWrap {
  margin: 0 auto 42px;
  width: 256px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  @include medium {
    margin-bottom: 32px;
  }
  @include x-small {
    margin-bottom: 24px;
    width: 200px;
  }
}

/* title + description */
.title {
  @include font-size(h4);
  font-weight: fw(medium);
  color: color(neutral, 8);
  margin-bottom: 8px;
  @include x-small {
    @include font-size(h5);
  }
}

.description {
  @include font-size(h6);
  color: color(neutral, 7);
  margin: 0;
  @include x-small {
    @include font-size(body);
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
}
