@import '_cores/styles/_assets.scss';

.categoryBanner {
  width: 100vw;
  height: 100vh;
  max-height: 640px;
  @include medium {
    max-height: 560px;
  }
  @include retina {
    max-height: 480px;
  }

  &Wrapp {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &Img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &El {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &Content {
    position: absolute;
    left: 50%;
    bottom: 56px;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  &Title {
    @include font-size(h3);
    font-weight: fw(medium);
    color: color(neutral, 1);
    margin-bottom: 32px;
    text-transform: capitalize;
    @include x-small {
      @include font-size(h4);
    }
  }
  &Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    & a {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
