@import '_cores/styles/_assets.scss';

.ourGroupCompanies {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: color(neutral, 2);
  @include large {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  @include medium {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @include small {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.title {
  text-align: center;
  margin-bottom: 64px;
  font-weight: fw(medium);
  @include medium {
    @include font-size(h3);
    margin-bottom: 48px;
  }
  @include small {
    margin-bottom: 32px;
    @include font-size(h4);
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
  @include medium {
    display: block;
    margin: 0;
  }
}
.item {
  flex: 0 0 50%;
  padding: 16px;
  @include medium {
    padding: 0;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.img {
  position: relative;
  padding-bottom: 71.234%;
  @include radius(sm);
  overflow: hidden;
  margin-bottom: 32px;
  @include medium {
    margin-bottom: 24px;
  }
  &El {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.text {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.name {
  margin-bottom: 0;
  font-weight: fw(medium);
  @include small {
    @include font-size(h5);
  }
}
.short {
  margin-bottom: 0;
  font-weight: fw(medium);
  background: linear-gradient(96.02deg, #dc8622 3.02%, #d9d14b 50.83%, #0991c7 98.64%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @include small {
    @include font-size(h6);
  }
}
