@import '_cores/styles/_assets.scss';

/* ==========================================================================
   Auth
   ========================================================================== */

.auth {
  overflow: hidden;
  &Inner {
    position: relative;
    display: flex;
    justify-content: center;
  }
  &Slider {
    position: relative;
    flex: 1;
    min-width: 50%;
    height: calc(100vh - 80px);
    margin-right: 48px;
    @include large {
      margin-right: 32px;
    }
    @include medium {
      display: none;
    }
    &Img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    :global(.slick-list) {
      height: 100%;
    }
    :global(.slick-track) {
      height: 100%;
    }
    :global(.slick-slide) {
      height: 100%;
      > div {
        height: 100%;
      }
    }
    &List {
      height: 100%;
    }
    &Counter {
      position: absolute;
      bottom: 40px;
      left: 40px;
      backdrop-filter: blur(10px);
      padding: 8px;
      @include radius(1);
      background-color: rgba(color(neutral, 1), 0.2);
      p {
        @include font-size(h6);
        color: color(neutral, 1);
        font-weight: fw(regular);
        margin-bottom: 0;
        span {
          display: inline-block;
          margin: 0 16px;
        }
      }
    }
  }
  &Content {
    position: relative;
    margin: 56px 64px;
    padding-top: 96px;
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include large {
      margin: 48px 40px;
    }
    @include medium {
      width: 100%;
      padding-top: 0;
      min-height: calc(100vh - 64px);
      margin: 0;
    }
    @include small {
      min-height: calc(100vh - 48px);
    }
    @include retina {
      min-height: calc(100vh - 32px);
    }
  }
  &Header {
    width: 100%;
    margin-bottom: 40px;
  }
  &Body {
    width: 100%;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  text-indent: -9999999px;
  transition: all 0.3s ease;
  @include medium {
    position: relative;
    top: auto;
    left: auto;
    height: 56px;
    margin-bottom: 64px;
  }
  @include small {
    height: 48px;
    margin-bottom: 40px;
  }
  &Link {
    text-decoration: none;
    @include remove-tap-highlight;
  }
  &Img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.title {
  font-family: ff(title);
  @include font-size(h2);
  font-weight: fw(regular);
  color: color(primary, 9);
  margin-bottom: 8px;
  @include small {
    @include font-size(h3);
  }
}

.desc {
  @include font-size(h5);
  font-weight: fw(regular);
  color: color(neutral, 7);
  margin-bottom: 0;
  @include small {
    @include font-size(body);
  }
}
