@import '_cores/styles/_assets.scss';

.auth {
  overflow: hidden;
  &Inner {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: auto;
  }
  &Slider {
    position: fixed;
    top: 0;
    right: 0;
    width: 680px;
    height: 100vh;
    height: 100svh;
    background-color: color(neutral, 2);
    @media (min-width: 1442px) {
      width: 50%;
    }
    @include large {
      width: 540px;
    }
    @include medium {
      display: none;
    }
    &Img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
    :global(.slick-list),
    :global(.slick-track) {
      height: 100%;
    }
    :global(.slick-slide) {
      height: 100%;
      > div {
        height: 100%;
      }
    }
    &List {
      height: 100%;
    }
    :global(.slick-dots) {
      left: 50%;
      bottom: 32px;
      text-align: center;
      z-index: zi(hero-banner-dots);
      font-size: 0;
      line-height: 1;
      transform: translateX(-50%);
      @include medium {
        bottom: 20px;
      }

      li {
        width: 12px;
        height: 4px;
        margin: 0 4px 0 0;
        border-radius: 4px;
        background: color(neutral, 4);
        transition: all 0.3s ease;
        &:last-child {
          margin-right: 0;
        }
        button {
          padding: 0;
          width: 100%;
          height: 100%;
          display: block;
          &:before {
            display: none;
          }
        }
      }
    }
    :global(li.slick-active) {
      width: 24px;
      background: color(primary, 6);
    }

    .slideOverlay {
      position: absolute;
      top: 72px;
      left: 0;
      right: 0;
      text-align: center;
      pointer-events: none;
      z-index: 2;
      padding: 0 40px;
    }

    .slideTitle {
      @include font-size(h3);
      font-weight: fw(bold);
      color: color(neutral, 8);
      margin-bottom: 12px;
    }

    .slideDesc {
      @include font-size(h6);
      font-weight: fw(medium);
      margin: 0;
      @include text-gradient(color(gradient, 1), color(primary, 9));
    }
  }
  &Slide {
    position: relative;
  }
  &Content {
    position: relative;
    margin: 120px 160px 48px;
    padding-top: 96px;
    padding-right: 720px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media (min-width: 1442px) {
      width: 50%;
      padding-right: calc(50% + 64px);
    }
    @include large {
      margin: 120px 80px 40px;
      padding-right: 580px;
    }
    @include medium {
      width: 100%;
      padding: 48px 32px 64px;
      min-height: calc(100vh - 64px);
      margin: 0;
    }
    @include small {
      min-height: calc(100vh - 48px);
      padding: 48px 24px;
    }
    @include retina {
      min-height: calc(100vh - 32px);
    }
  }
  &Header {
    width: 100%;
    margin-bottom: 48px;
    @include medium {
      margin-bottom: 32px;
    }
    @include x-small {
      margin-bottom: 20px;
    }
  }
  &Body {
    width: 100%;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  text-indent: -9999999px;
  transition: all 0.3s ease;
  @include medium {
    position: relative;
    top: auto;
    left: auto;
    height: 56px;
    margin-bottom: 64px;
  }
  @include small {
    height: 48px;
    margin-bottom: 40px;
  }
  @include x-small {
    height: 32px;
    margin-bottom: 32px;
  }
  &Link {
    text-decoration: none;
    @include remove-tap-highlight;
  }
  &Img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.title {
  @include font-size(h3);
  font-weight: fw(medium);
  color: color(neutral, 8);
  margin-bottom: 8px;
  @include small {
    @include font-size(h4);
  }
}

.subTitle {
  @include font-size(h4);
  color: color(neutral, 7);
  margin-bottom: 0;
  font-weight: fw(regular);
  @include small {
    @include font-size(h6);
  }
}

.desc {
  margin-top: 48px;
  @include x-small {
    margin-top: 32px;
  }
  & p {
    @include font-size(h6);
    font-weight: fw(regular);
    margin-bottom: 16px;
    color: color(neutral, 7);
    &:last-child {
      margin-bottom: 0;
    }
    @include x-small {
      @include font-size(body);
      margin-bottom: 12px;
    }
  }
  & a {
    color: color(primary, 6);
    text-decoration: none;
    &:hover {
      color: color(primary, 4);
    }
  }
}
