@import '_cores/styles/_assets.scss';

.quantity {
  display: flex;
  align-items: center;
  &Control {
    display: flex;
    align-items: center;
    button {
      outline: 0;
      border: 0;
      padding: 0;
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 1;
      border: 1px solid color(primary, 9);
      background-color: color(primary, 2);
      color: color(primary, 9);
      font-weight: fw(medium);
      cursor: pointer;
      @include radius(sm);
      transition: all 0.3s ease;
      &:disabled {
        border-color: color(neutral, 3);
        background-color: color(neutral, 3);
        color: color(neutral, 5);
        cursor: not-allowed;
      }
    }
    input {
      display: block;
      width: 48px;
      height: 40px;
      text-align: center;
      border: 0;
      background-color: color(neutral, 1);
      color: color(primary, 6);
      font-weight: fw(medium);
      @include font-size(h5);
      outline: 0;
      margin: 0 16px;
    }
  }
}
