@import '_cores/styles/_assets.scss';

.item {
  margin-bottom: 24px;
  @include x-small {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.box {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-end;
  @include x-small {
    position: relative;
  }
}
.info {
  display: flex;
  gap: 16px;
}
.img {
  width: 72px;
  height: 72px;
  @include radius(xs);
  overflow: hidden;
  @include x-small {
    width: 64px;
    height: 64px;
  }
  &El {
    object-fit: cover;
  }
}
.name {
  @include font-size(body);
  font-weight: fw(regular);
  margin-bottom: 8px;
  @include x-small {
    @include font-size(caption);
  }
}
.variant {
  color: color(neutral, 5);
  @include font-size(small);
  font-weight: fw(regular);
  margin-bottom: 4px;
  @include x-small {
    padding-right: 100px;
  }
  span {
    @include font-size(x-small);
  }
}
.quantity {
  color: color(neutral, 5);
  @include font-size(small);
  font-weight: fw(regular);
  margin-bottom: 0;
  @include x-small {
    padding-right: 100px;
  }
}
.price {
  font-weight: fw(medium);
  color: color(primary, 2);
  margin-bottom: 0;
  @include font-size(body);
  @include x-small {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
