@import '_cores/styles/_assets.scss';

.fallbackSection {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  margin-bottom: 48px;
  &El {
    display: block;
    max-width: 380px;
    height: 256px;
    object-fit: contain;
    @include small {
      width: 100%;
      height: 184px;
    }
  }
}

.text {
  max-width: 516px;
  @include x-small {
    max-width: 100%;
  }
}

.title {
  font-family: ff(title);
  @include font-size(h3);
  font-weight: fw(bold);
  margin-bottom: 16px;
  color: color(primary, 9);
  @include medium {
    @include font-size(h3);
  }
  @include small {
    @include font-size(h4);
  }
  @include x-small {
    @include font-size(h5);
    margin-bottom: 8px;
  }
}

.description {
  @include font-size(h6);
  font-weight: fw(regular);
  color: color(neutral, 6);
  margin-bottom: 40px;
  @include x-small {
    @include font-size(body);
  }
}
