@import '_cores/styles/_assets.scss';

.head {
  display: none;
  @include medium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid color(neutral, 3);
    border-bottom: 1px solid color(neutral, 3);
  }
  &Title {
    margin-bottom: 0;
    font-weight: fw(medium);
  }
}

.body {
  padding: 24px;
  @include radius(md);
  border: 1px solid color(neutral, 3);
  margin-bottom: 24px;
  @include medium {
    display: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: color(neutral, 1);
    z-index: zi(checkout-address-modal);
    @include scroll(auto, y, hide);
  }
}

.bodyShow {
  @include medium {
    display: block;
  }
}
.form {
  @include medium {
    padding: 24px 32px;
  }
  @include small {
    padding: 20px 24px;
  }
}
.top {
  margin-bottom: 24px;
  @include medium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    border-bottom: 1px solid color(neutral, 3);
    margin-bottom: 0;
  }
  @include small {
    padding: 16px 24px;
  }
  button {
    display: none;
    @include medium {
      min-width: initial;
      padding: 0;
      border: 0;
      width: 28px;
      height: 28px;
      color: color(neutral, 8);
      display: block;
      border-radius: 0;
      &::before {
        content: none;
      }
      &:hover {
        color: color(neutral, 8);
        background-color: transparent;
      }
    }
  }
}
.title {
  font-weight: fw(medium);
  margin-bottom: 0;
  @include medium {
    @include font-size(h6);
  }
}
.group {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  @include medium {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
}
.field {
  flex: 0 0 50%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 24px;
  position: relative;
  @include medium {
    padding-left: 0;
    padding-right: 0;
  }
  span {
    left: 10px;
    @include medium {
      left: 0;
    }
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
}
.action {
  display: none;
  @include medium {
    display: block;
  }
}
.error {
  margin-top: 8px;
  margin-bottom: 0;
  color: color(danger, 6);
  @include font-size(caption);
}
