@import '_cores/styles/_assets.scss';

.section {
  padding: 96px 0 276px;
  @include large {
    padding: 80px 0 200px;
  }
  @include x-small {
    padding: 48px 0 56px;
  }
  :global(.container) {
    max-width: 1200px;
  }
  .title {
    font-family: ff(title);
    @include font-size(h2);
    font-weight: fw(regular);
    color: color(primary, 9);
    max-width: 240px;
    margin-bottom: 64px;
    @include medium {
      max-width: 100%;
      margin-bottom: 48px;
    }
    @include x-small {
      @include font-size(h3);
      margin-bottom: 32px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .detailGrid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    @include medium {
      flex-direction: column;
      margin-bottom: 48px;
    }
    @include x-small {
      margin-bottom: 32px;
    }
  }
  .detailColumn {
    flex: 1;
    max-width: 50%;
    margin-right: 64px;
    &:last-child {
      margin-right: 0;
    }
    @include medium {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
    }
    @include x-small {
      margin-bottom: 24px;
    }
  }
  .detailContent {
    p {
      @include font-size(h6);
      font-weight: fw(regular);
      color: color(neutral, 6);
      margin-bottom: 8px;
      @include x-small {
        @include font-size(body);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    ul {
      li {
        @include font-size(h6);
        font-weight: fw(regular);
        color: color(neutral, 6);
        margin-bottom: 8px;
        @include x-small {
          @include font-size(body);
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .subtitle {
    @include font-size(h5);
    font-weight: fw(regular);
    color: color(primary, 9);
    margin-bottom: 16px;
    @include x-small {
      @include font-size(h6);
      margin-bottom: 12px;
      font-weight: fw(medium);
    }
  }
  .formRow {
    position: relative;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .formFile {
    position: relative;

    .fileInputLabel {
      display: block;
      width: 100%;
      cursor: pointer;
      position: relative;
    }

    // Sembunyikan input file native
    .fileInputNative {
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute;
      z-index: -1;
    }

    // Custom box mirip input lainnya
    .fileInputCustom {
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      border: 1px solid color(neutral, 4);
      border-radius: 0;
      background: #fff;
      color: color(neutral, 6);
      font-size: 16px;
      font-family: inherit;
      cursor: pointer;
      transition: border-color 0.2s;

      &:hover,
      &:focus {
        border-color: color(primary, 9);
      }
      &.error {
        border-color: color(danger, 6);
      }
    }
    .fileDesc {
      @include font-size(caption);
      color: color(neutral, 6);
    }
    .errorMsg {
      position: absolute;
      bottom: -20px;
      left: 0;
      color: color(danger, 6);
      @include font-size(small);
      font-weight: fw(regular);
      margin-bottom: 0;
    }
  }
}
