@import '_cores/styles/_assets.scss';

.section {
  padding: 80px 0 104px;
  @include large {
    padding: 64px 0 80px;
  }

  @include medium {
    padding: 56px 0 72px;
  }
  @include x-small {
    padding: 40px 0 56px;
  }
  :global(.container) {
    max-width: 1200px;
  }
  .backTo {
    display: inline-block;
    margin-bottom: 48px;
    @include medium {
      margin-bottom: 32px;
    }
    .btnBack {
      background-color: transparent;
      border: 1px solid color(neutral, 15);
      color: color(neutral, 12);
      border-radius: 8px;
      padding: 10px 20px 10px 12px;
      display: inline-flex;
      align-items: center;
      transition: all 0.3s ease;
      @include font-size(button-medium);
      &:hover {
        color: color(primary, 9);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        & i {
          transform: translateX(-4px);
        }
      }
      & i {
        margin-right: 8px;
        transition: all 0.3s ease;
      }
      & span {
        padding-top: 2px;
      }

    }
  }
  .content {
    display: flex;
    align-items: flex-start;
    @include medium {
      flex-direction: column;
    }
  }
  .left {
    flex: 1;
    margin-right: 80px;
    @include medium {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }
  .right {
    width: 480px;
    @include large {
      width: 400px;
    }
    @include medium {
      width: 100%;
    }

  }
  .title {
    @include font-size(h3);
    font-weight: fw(medium);
    color: color(neutral, 13);
    margin-bottom: 32px;
    @include medium {
      max-width: 100%;
      margin-bottom: 24px;
    }
    @include x-small {
      @include font-size(h3);
    }
  }

  .meta {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    @include medium {
      margin-bottom: 24px;
    }
    &Item {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
    &Label {
      @include font-size(caption);
      font-weight: normal;
      color: color(neutral, 12);
      margin-bottom: 8px;
    }
    &Value {
      display: flex;
      align-items: center;
      color: color(neutral, 13);
      & i {
        margin-right: 12px;
        @include font-size(body);
        color: color(neutral, 13);
      }
      & span {
        @include font-size(h6);
        color: color(neutral, 13);
      }
    }

  }
  .subtitle {
    @include font-size(body);
    font-weight: fw(medium);
    color: color(neutral, 13);
    margin-bottom: 8px;
  }
  .body {
    margin-bottom: 32px;
    @include x-small {
      margin-bottom: 24px;
    }
    & p, & ul {
      @include font-size(body);
      color: color(neutral, 12);
      margin-bottom: 16px;
      @include x-small {
        margin-bottom: 12px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .formGroup {
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
    & button {
      width: 100%;
      border-radius: 8px;
    }
  }
  .formFile {
    position: relative;
    .fileInputLabel {
      display: block;
      width: 100%;
      cursor: pointer;
      position: relative;
    }

    // Sembunyikan input file native
    .fileInputNative {
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute;
      z-index: -1;
    }

    // Custom box mirip input lainnya
    .fileInputCustom {
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      border: 1px solid color(neutral, 15);
      border-radius: 8px;
      background: #fff;
      color: color(neutral, 6);
      font-size: 16px;
      cursor: pointer;
      transition: border-color 0.2s;
      &:hover,
      &:focus {
        border-color: color(primary, 3);
      }
      &.error {
        border-color: color(danger, 6);
      }
      .fileText {
        margin-left: 8px;
      }
    }
    .fileDesc {
      @include font-size(caption);
      color: color(neutral, 6);
    }
    .errorMsg {
      position: absolute;
      bottom: -20px;
      left: 0;
      color: color(danger, 6);
      @include font-size(small);
      font-weight: fw(regular);
      margin-bottom: 0;
    }
  }

}
