@import '_cores/styles/_assets.scss';

.benefit {
  padding: 80px 0 48px;
  @include medium {
    padding: 56px 0 32px;
  }
  @include x-small {
    padding: 32px 0 24px;
  }
  &List {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    @include medium {
      margin-top: -10px;
      margin-bottom: -10px;
    }
    @include x-small {
      flex-direction: column;
    }
  }
  &Item {
    width: 25%;
    padding: 0 10px;
    display: flex;
    align-items: stretch;
    @include medium {
      width: 50%;
      padding: 10px;
    }
    @include x-small {
      width: 100%;
    }
  }
  &Box {
    background-color: color(neutral, 2);
    border-radius: 12px;
    padding: 20px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  & i {
    display: block;
    color: color(primary, 6);
    @include font-size(h3);
    margin-bottom: 32px;
  }
  &Title {
    @include font-size(h6);
    font-weight: fw(medium);
    color: color(neutral, 8);
    margin-bottom: 8px;
  }
  &Desc {
    @include font-size(body);
    margin: 0;
    color: color(neutral, 6);
  }
}
