@import '_cores/styles/_assets.scss';

.section {
  overflow: hidden;
  padding: 16ppx 0 24px;
  background-color: color(neutral, 1);

}
.swiperWrapper {
  position: relative;
}
.wrapper {
  position: relative;
  @include radius(md);
  overflow: hidden;
}

.video {
  position: relative;
  padding-bottom: 58%;
  @include medium {
    padding-bottom: 60.302%;
  }
  @include x-small {
    width: 320px;
    padding-bottom: 79.5%;
  }
  @include retina {
    width: 280px;
  }
  video, iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  opacity: 1;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.isPlaying {
    opacity: 0;
    pointer-events: none;
  }
  @include x-small {
    width: 100%;
    padding: 0 8px;
  }
}

.title {
  font-weight: fw(regular);
  color: color(neutral, 1);
  margin-bottom: 24px;
  max-width: 480px;
  @include medium {
    @include font-size(h5);
    margin-bottom: 20px;
  }
  @include small {
    @include font-size(h5);
  }
  @include x-small {
    @include font-size(body);
    margin-bottom: 12px;
    width: 100%;
  }
}

.btnVideo {
  display: flex;
  align-items: center;
  gap: 12px;
}


.slider {
  overflow: visible !important;
  :global(.swiper) {
    position: relative !important;

  }
}

.videoPrev,
.videoNext {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 140px;
  height: 100%;
  z-index: 5;
  cursor: pointer;
  @include remove-tap-highlight;

  @include small {
    width: 72px;
  }

 }

.videoPrev {
  left: 0;
  @include medium {
    left: -24px;
  }
  @include x-small {
    left: -16px;
  }
}
.videoNext {
  right: 0;
  @include medium {
    right: -24px;
  }
  @include x-small {
    right: -16px;
  }
}







