@import '_cores/styles/_assets.scss';

.story {
  min-height: 100vh;
}
.list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.item {
  padding-right: 32px;
  @include small {
    padding-right: 24px;
  }
}
.year {
  color: color(primary, 10);
  font-weight: fw(regular);
  margin-bottom: 52px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  @include medium {
    @include font-size(h3);
  }
  @include small {
    @include font-size(h4);
    margin-bottom: 44px;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 75px;
    border-radius: 50%;
    background-color: color(primary, 10);
    @include medium {
      top: 64px;
    }
    @include small {
      top: 48px;
    }
  }
}
.name {
  background: linear-gradient(96.02deg, #dc8622 3.02%, #d9d14b 50.83%, #0991c7 98.64%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  vertical-align: middle;
  font-weight: fw(medium);
  margin-bottom: 16px;
  transition: all 0.3s ease 0s;
  @include small {
    @include font-size(h5);
  }
  @include retina {
    @include font-size(h6);
    margin-bottom: 8px;
  }
}
.description {
  @include radius(12);
  padding: 20px;
  background-color: color(neutral, 11);
  overflow: hidden;
  width: 608px;
  @include small {
    width: 320px;
  }
  @include x-small {
    max-height: 420px;
    @include scroll('y', 'touch', 'hide');
  }
  @include retina {
    width: 280px;
  }
  p {
    margin-bottom: 10px;
    @include x-small {
      @include font-size(caption);
    }
    @include retina {
      @include font-size(small);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.storyContainer {
  position: sticky;
  top: 0;
  min-height: 100vh;
  overflow: hidden;
  will-change: transform;
  display: flex;
  align-items: center;
  @include small {
    padding-top: 64px;
  }
}
.ghost {
  width: 100%;
}
.thumbnailsContainer {
  position: relative;
  width: max-content;
  padding: 0px 320px 0 160px;
  @include large {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include small {
    padding-left: 24px;
    padding-right: 24px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    border: 1px solid color(neutral, 14);
    @include medium {
      top: 69px;
    }
    @include small {
      top: 53px;
    }
  }
}
