@import '_cores/styles/_assets.scss';

.product {
  position: relative;
  overflow: hidden;
  padding: 56px 0 104px;
  @include large {
    padding: 48px 0 88px;
  }
  @include medium {
    padding: 40px 0 72px;
  }
  @include small {
    padding: 32px 0 64px;
  }
  @include x-small {
    padding: 24px 0 56px;
  }
}
.navbar {
  position: fixed;
  top: 72px;
  left: 0;
  z-index: zi(header) - 1;
  width: 100%;
  background-color: color(neutral, 1);
  border-bottom: 1px solid color(neutral, 3);
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.35s ease 0s;
  @include small {
    top: 64px;
  }
  .show & {
    opacity: 1;
    transform: none;
    transition-delay: 0s;
  }
  &Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &Name {
    @include font-size(body);
    font-weight: fw(medium);
    margin-bottom: 0;
    @include medium {
      display: none;
    }
  }
  &List {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &Item {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  &Link {
    display: block;
    text-decoration: none;
    @include font-size(button-medium);
    color: color(neutral, 6);
    padding: 20px 0;
    @include hover-underline;
    transition: all 0.3s ease;
    &Active,
    &:hover {
      color: color(primary, 6);
      @include hover-underline('active');
    }
    @include medium {
      &:hover {
        color: color(neutral, 6);
        @include hover-underline;
      }
    }
  }
}
.sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: zi(header) - 1;
  width: 100%;
  background-color: color(neutral, 1);
  border-top: 1px solid color(neutral, 3);
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.35s ease 0s;
  @include medium {
    display: none;
  }
  .show & {
    opacity: 1;
    transform: none;
    transition-delay: 0s;
  }
  &Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
  .price {
    @include font-size(h4);
    span {
      @include font-size(h6);
    }
  }
}
.breadcrumb {
  margin-bottom: 32px;
  @include small {
    margin-bottom: 24px;
  }
}
.detail {
  position: relative;
  display: flex;
  @include medium {
    flex-direction: column;
  }
}
.description {
  padding-top: 96px;
  @include large {
    padding-top: 80px;
  }
  @include medium {
    padding-top: 64px;
  }
  @include small {
    padding-top: 48px;
  }
}
.feature,
.store,
.review {
  padding-top: 64px;
  @include medium {
    padding-top: 56px;
  }
  @include small {
    padding-top: 48px;
  }
}
.image {
  flex: 0 0 auto;
  width: 50%;
  @include medium {
    width: 100%;
    max-height: initial;
  }
  &Content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &Slider {
    height: 100%;
    overflow: hidden;
    :global(.slick-list) {
      height: calc(100% - 124px);
    }
    :global(.slick-track) {
      height: 100%;
    }
    :global(.slick-slide) {
      height: 100%;
      > div {
        height: 100%;
      }
    }
    :global(.slick-dots) {
      bottom: 0;
      left: 0;
      right: 0;
      width: initial;
      text-align: left;
      margin-left: -6px;
      margin-right: -6px;
      padding-right: 6px;
      @include scroll('x', 'touch', 'hide');
    }
    :global(.slick-dots li) {
      width: 124px;
      height: 112px;
      margin: 0 6px;
      @include radius(sm);
      overflow: hidden;
      background-color: color(neutral, 2);
      border: 1px solid transparent;
      transition: all 0.3s ease;
    }
    :global(.slick-dots li.slick-active) {
      border-color: color(primary, 6);
    }
    :global(.slick-dots img) {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &Counter {
    display: none;
    @include medium {
      display: block;
      position: absolute;
      bottom: 24px;
      left: 32px;
      padding: 4px 10px 2px;
      @include radius(xs);
      background-color: color(neutral, 1);
    }
    @include small {
      bottom: 24px;
      left: 16px;
    }
    @include x-small {
      bottom: 16px;
    }
    p {
      @include font-size(body);
      color: color(neutral, 6);
      font-weight: fw(regular);
      margin-bottom: 0;
      @include small {
        @include font-size(small);
      }
      span {
        display: inline-block;
        &:nth-child(2) {
          padding: 0 4px;
        }
        &:first-child {
          color: color(primary, 6);
          font-weight: fw(medium);
          @include font-size(h5);
          @include small {
            @include font-size(caption);
          }
        }
      }
    }
  }
  &Single {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &Item {
    width: 608px;
    height: 608px;
    position: relative;
    background-color: color(neutral, 2);
    @include small {
      width: 100%;
      height: 366px;
    }
  }
  &El {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  width: 50%;
  padding: 16px 48px;
  @include large {
    padding: 16px 32px;
  }
  @include medium {
    width: 100%;
    padding: 24px 0 0;
  }
  &Head {
    margin-bottom: 40px;
    @include medium {
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 24px;
    }
  }
  &Body {
    margin-bottom: 40px;
    @include medium {
      margin-bottom: 0;
    }
  }
  &Foot {
    display: flex;
    button {
      flex: 1;
      margin-right: 16px;
      &:first-child {
        max-width: 48px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @include medium {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: zi(product-detail-foot);
      width: 100%;
      padding: 16px 24px;
      background-color: color(neutral, 1);
      border-top: 1px solid color(neutral, 3);
      // transform: translateY(100%);
      transition: all 0.35s ease 0s;
      // :global(.window--scrolled) & {
      //   transform: none;
      //   transition-delay: 0.2s;
      // }
      // .show & {
      //   transform: none;
      //   transition-delay: 0s;
      // }
    }
  }
  &Overlay {
    @include medium {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: color(opacity, 1);
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s ease 0s;
      .showContent & {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.45s;
      }
    }
  }
}
.name {
  font-family: ff(title);
  @include font-size(h3);
  font-weight: fw(medium);
  margin-bottom: 24px;
  @include small {
    @include font-size(h4);
    margin-bottom: 14px;
  }
}
.meta {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  @include medium {
    margin-bottom: 32px;
  }
  @include small {
    margin-bottom: 24px;
  }
  &Item {
    position: relative;
    @include font-size(h6);
    color: color(neutral, 7);
    margin-right: 32px;
    @include small {
      @include font-size(body);
    }
    &::after {
      content: '';
      position: absolute;
      top: 8px;
      right: -20px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: color(neutral, 4);
    }
    &:last-child {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
    i {
      color: color(primary, 6);
      font-size: 16px;
      margin-right: 6px;
    }
  }
}
.price {
  @include font-size(h2);
  color: color(primary, 6);
  font-weight: fw(medium);
  margin-bottom: 0;
  @include small {
    @include font-size(h3);
  }
  span {
    position: relative;
    @include font-size(h4);
    color: color(neutral, 5);
    margin-left: 16px;
    @include small {
      @include font-size(h6);
    }
    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: color(primary, 6);
      transform: rotate(-8deg);
    }
  }
}
.label {
  @include font-size(body);
  color: color(neutral, 6);
  margin-bottom: 12px;
  span {
    color: color(neutral, 8);
    font-weight: fw(medium);
    margin-left: 8px;
  }
}
.title {
  color: color(primary, 6);
  font-family: ff(title);
  @include font-size(h3);
  font-weight: fw(medium);
  margin-bottom: 24px;
  @include medium {
    @include font-size(h4);
  }
  @include small {
    @include font-size(h5);
    margin-bottom: 20px;
  }
}
.row {
  margin-bottom: 26px;
  @include small {
    margin-bottom: 18px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.color {
  &List {
    list-style: none;
    padding: 0;
    margin: 0 -6px;
    display: flex;
    flex-wrap: wrap;
  }
  &Item {
    padding: 6px;
  }
  &Box {
    position: relative;
    outline: 0;
    background-color: transparent;
    display: block;
    cursor: pointer;
    width: 56px;
    height: 40px;
    padding: 4px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    @include radius(sm);
    &:hover {
      border-color: color(primary, 3);
    }
    &Active {
      border-color: color(primary, 6);
    }
    span {
      width: 100%;
      height: 100%;
      display: block;
      @include radius(xs);
    }
  }
}
.variant {
  position: relative;
  &List {
    list-style: none;
    padding: 0;
    margin: 0 -6px;
    display: flex;
    flex-wrap: wrap;
  }
  &Item {
    padding: 6px;
  }
  &Box {
    position: relative;
    overflow: hidden;
    outline: 0;
    display: block;
    cursor: pointer;
    min-width: 56px;
    height: 40px;
    padding: 10px 16px;
    @include radius(sm);
    @include font-size(button-medium);
    color: color(neutral, 6);
    background-color: transparent;
    border: 1px solid color(neutral 4);
    transition: all 0.3s ease;
    &:hover {
      border-color: color(primary, 6);
      color: color(primary, 6);
    }
    &Active {
      background-color: color(primary, 2);
      border-color: color(primary, 6);
      color: color(primary, 6);
    }
    span {
      position: relative;
      z-index: 2;
      padding: 0 8px;
    }
  }
  &Head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.stock {
  @include font-size(body);
  color: color(neutral, 6);
  margin-bottom: 12px;
  span {
    color: color(neutral, 8);
    font-weight: fw(medium);
  }
}
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 80px);
  height: calc(100svh - 80px);
  @include medium {
    height: calc(100vh - 72px);
    height: calc(100svh - 72px);
  }
  @include small {
    height: calc(100vh - 64px);
    height: calc(100svh - 64px);
  }
}
.content {
  p,
  ul,
  ol {
    @include font-size(h6);
    color: color(neutral, 6);
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    @include small {
      @include font-size(body);
      margin-bottom: 12px;
    }
  }
  p {
    + ul,
    + ol {
      margin-top: -12px;
      @include small {
        margin-top: -8px;
      }
    }
  }
  ol,
  ul {
    li {
      @include font-size(h6);
      margin-bottom: 4px;
      @include small {
        @include font-size(body);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ul {
    .feature & {
      list-style: none;
    }
    li {
      .feature & {
        position: relative;
        &::before {
          font-family: ff(icon);
          content: '\e91b';
          position: absolute;
          top: -1px;
          left: -24px;
          color: color(primary, 6);
          font-size: 18px;
        }
      }
    }
  }
}
.related {
  padding-top: 96px;
  @include medium {
    padding-top: 80px;
  }
  @include small {
    padding-top: 64px;
  }
  &Title {
    @include font-size(h3);
    font-weight: fw(medium);
    margin-bottom: 48px;
    @include large {
      margin-bottom: 40px;
    }
    @include medium {
      @include font-size(h4);
      margin-bottom: 32px;
    }
    @include small {
      @include font-size(h5);
      margin-bottom: 24px;
    }
  }
  &List {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    @include x-small {
      margin-left: -6px;
      margin-right: -6px;
    }
  }
  &Item {
    flex: 0 0 25%;
    padding-left: 8px;
    padding-right: 8px;
    @include medium {
      flex: 0 0 50%;
      padding: 8px;
    }
    @include x-small {
      padding: 6px;
    }
  }
}
