@import '_cores/styles/_assets.scss';

.cta {
  background-color: color(danger, 7);
  padding: 14px 0;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(neutral, 1);
    margin: 0;
    text-align: center;
  }

  .link {
    @include font-size(body);
    color: color(neutral, 1);
    text-decoration: underline;
    margin-left: 8px;
    cursor: pointer;
    @include remove-tap-highlight;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.8;
      color: color(primary, 1);
    }
  }
}
