/* ==========================================================================
   Mixin Background Image
   ========================================================================== */

@mixin bg-img($dir) {
	background-image: url(../../../assets/image/#{$dir});
}
