/* ==========================================================================
   Mixin Border SSlide
   ========================================================================== */

@mixin hover-underline($state: 'default') {
  @if $state == 'default' {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      border-bottom: solid 1px color(primary, 6);
      transform: scaleX(0);
      transition: transform 0.3s ease;
      transform-origin: center center;
    }
  } @else if $state == 'active' {
    &::after {
      transform: none;
    }
  }
}
