/* ==========================================================================
   Mixin: Shadow
   ========================================================================== */

@mixin shadow($size) {
  box-shadow: map-get($shadow, $size);
}
