@import '_cores/styles/_assets.scss';

.order {
  padding-top: 64px;
  padding-bottom: 104px;
  @include medium {
    padding-top: 56px;
    padding-bottom: 80px;
  }
  @include small {
    padding-top: 40px;
    padding-bottom: 56px;
  }
}
.inner {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}
.img {
  width: 240px;
  height: 154px;
  margin: 0 auto 48px;
  @include medium {
    margin-bottom: 40px;
  }
  @include small {
    margin-bottom: 32px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.title {
  @include font-size(h3);
  font-weight: fw(medium);
}
.description {
  @include font-size(h5);
  font-weight: fw(regular);
  margin-bottom: 40px;
}
