@import '_cores/styles/_assets.scss';

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;

  &Item {
    margin-right: 6px;
    @include font-size(button-small);
    font-weight: fw(regular);
    color: color(primary, 9);
    .white & {
      color: color(neutral, 1);
    }

    &:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6px;
      color: color(neutral, 6);
      transition: all 0.3s ease;
      .white & {
        color: color(neutral, 1);
      }
      @include medium {
        gap: 4px;
      }
      a {
        text-decoration: none;
        .primary & {
          margin-top: 10px;
          &::after {
            content: '/';
            display: inline-block;
            margin-left: 6px;
          }
        }
      }
      i {
        @include font-size(small);
        line-height: 1;
      }
      &:hover {
        color: color(primary, 9);
        .white & {
          color: color(neutral, 1);
        }
      }
    }
    &:last-child {
      margin-right: 0;
      .primary & {
        font-family: ff(title);
        font-weight: fw(regular);
        @include font-size(h2);
      }
    }
  }
}
