@import '_cores/styles/_assets.scss';

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 540px;
  max-width: 408px;
  margin: 0 auto;
  @include small {
    max-width: 100%;
  }
}
.img {
  width: 248px;
  height: 216px;
  margin-bottom: 24px;
  &El {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.title {
  @include font-size(h5);
  font-weight: fw(medium);
  margin-bottom: 12px;
  @include small {
    @include font-size(h6);
  }
}
.description {
  @include font-size(body);
  font-weight: fw(regular);
  color: color(neutral, 6);
  margin-bottom: 0;
}
.btn {
  margin-top: 56px;
  @include small {
    margin-top: 40px;
  }
  & a {
    flex-direction: row-reverse;
    gap: 10px;
  }
}
