@import '_cores/styles/_assets.scss';

.summary {
  padding: 24px;
  @include radius(md);
  border: 1px solid color(neutral, 3);
}
.list {
  padding-bottom: 24px;
  border-bottom: 1px solid color(neutral, 3);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.subtotal {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid color(neutral, 3);
}
.label {
  font-weight: fw(regular);
  @include font-size(body);
  color: color(neutral, 6);
  margin-bottom: 0;
  span {
    color: color(neutral, 4);
  }
}
.value {
  margin-bottom: 0;
  @include font-size(body);
  font-weight: fw(medium);
  color: color(neutral, 8);
  display: flex;
  align-items: center;
  gap: 4px;
  span {
    color: color(neutral, 4);
  }
  .point {
    color: color(neutral, 6);
  }
}
.total {
  padding-top: 16px;
  margin-bottom: 24px;
  .value {
    color: color(primary, 6);
  }
}
