@import '_cores/styles/_assets.scss';

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  @include x-small {
    align-items: stretch;
    padding: 0;
  }
}

.backdrop {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  background: rgba(23, 23, 23, 0.24);
}

.panel {
  position: relative;
  width: 544px;
  max-width: calc(100% - 40px);
  background: color(neutral, 1);
  @include radius(md);
  z-index: 2;
  overflow: hidden;
  border: 2px solid color(primary, 1);
  @include x-small {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: none;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
  }
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 28px 24px;
  @include x-small {
    padding: 16px 16px;
  }
}

.title {
  margin: 0;

  @include font-size(h6);
  color: color(neutral, 8);
  font-weight: fw(medium);
}

.closeBtn {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: color(neutral, 6);
  & i {
    @include font-size(body);
  }
  transition: transform 0.35s cubic-bezier(0.2, 0.8, 0.2, 1);
  transform-origin: center center;
  will-change: transform;
  &:hover {
    transform: rotate(90deg);
  }
}

/* body / list */
.body {
  padding: 0 28px 24px;
  @include x-small {
    padding: 0 16px 16px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.itemList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: flex-start;
  padding: 12px 14px;
  @include radius(sm);
  border: 1px solid transparent;
  background:
    linear-gradient(#f9f9f9, #f9f9f9) padding-box,
    linear-gradient(90deg, #dc8622, #d9d14b, #0991c7) border-box;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.itemMedia {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include radius(sm);
  margin-right: 14px;
  position: relative;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.itemContent {
  flex: 1;
}

.itemTitle {
  @include font-size(body);
  color: color(neutral, 8);
  font-weight: fw(medium);
  margin-bottom: 6px;
}

.itemDesc {
  @include font-size(caption);
  color: color(neutral, 6);
  margin: 0;
}

/* footer */
.footer {
  padding: 0 28px 28px;
  @include x-small {
    padding: 0 16px 16px;
  }
  & Button {
    width: 100%;
    & span {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
