@import '_cores/styles/_assets.scss';

.layout {
  padding: 96px 0 56px;
  @include medium {
    padding: 64px 0 0;
  }
  @include small {
    padding: 48px 0 0;
  }
}
.header {
  display: flex;
  align-self: center;
  margin-bottom: 32px;
  @include small {
    margin-bottom: 24px;
  }
  &Image {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    @include medium {
      width: 80px;
      height: 80px;
    }
    @include small {
      width: 72px;
      height: 72px;
    }
    &El {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
    @include small {
      margin-left: 16px;
    }
  }
  &Title {
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(primary, 9);
    margin-bottom: 12px;
    @include small {
      @include font-size(h5);
      margin-bottom: 8px;
    }
  }
  &Upload {
    position: relative;
    display: inline-flex;
    align-items: center;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    @include font-size(button-medium);
    cursor: pointer;
    &Input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    i {
      font-size: 20px;
      line-height: 1;
    }
    span {
      margin-left: 8px;
    }
  }
}
.wrapp {
  display: flex;
  @include medium {
    flex-direction: column-reverse;
  }
}
.sidebar {
  width: 240px;
  padding: 16px;
  background-color: color(neutral, 2);
  @include radius(xs);
  margin-right: 40px;
  @include medium {
    position: sticky;
    bottom: 0;
    width: initial;
    z-index: zi(header) - 1;
    margin-left: -32px;
    margin-right: -32px;
    background-color: color(neutral, 1);
    border-top: 1px solid color(neutral, 3);
    border-radius: 16px 16px 0 0;
    @include shadow(6);
    padding: 0;
  }
  @include small {
    margin-left: -24px;
    margin-right: -24px;
  }
}
.tab {
  $tab: &;
  &list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    @include medium {
      display: flex;
      justify-content: center;
    }
  }
  &item {
    position: relative;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    @include medium {
      width: 25%;
      border: none;
      margin-bottom: 0;
    }
    &Logout {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      @include medium {
        position: static;
      }
      #{$tab} {
        &Link {
          color: color(danger, 6);
          background-color: transparent;
          &:hover {
            background-color: color(danger, 1);
            border-color: color(danger, 6);
            color: color(danger, 6);
          }
        }
      }
    }
  }

  &Link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    align-items: center;
    color: color(neutral, 6);
    transition: all 0.3s ease;
    border: solid 1px transparent;
    @include radius(xs);
    @include remove-tap-highlight;
    &Active,
    &:hover {
      background-color: color(primary, 1);
      border-color: color(primary, 6);
      color: color(primary, 6);
      @include medium {
        background-color: transparent;
      }
    }
    @include medium {
      flex-direction: column;
      justify-content: center;
      border: 0;
      padding: 16px;
    }
    @include small {
      flex-direction: column;
      @include font-size(small);
      padding: 8px;
    }
    .icon {
      display: inline-flex;
      align-self: center;
      font-size: 20px;
      margin-right: 10px;
      @include medium {
        margin: 0 0 8px;
      }
      @include small {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }
}
.main {
  flex: 1;
  @include medium {
    margin-bottom: 32px;
    min-height: auto;
  }
  @include small {
    margin-bottom: 24px;
  }
}
.content {
  min-height: 560px;
  position: relative;
  @include medium {
    min-height: auto;
  }
  @include small {
    min-height: 360px;
  }
}
