@import '_cores/styles/_assets.scss';

/* ==========================================================================
   Login
   ========================================================================== */

.row {
  position: relative;
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
  &Item {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &Link {
    text-decoration: none;
    @include font-size(small);
    color: color(primary, 9);
    @include hover-underline;
    &:hover {
      @include hover-underline(active);
    }
  }
  &Line {
    display: block;
    position: relative;
    text-align: center;
    @include font-size(small);
    color: color(neutral, 5);
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: calc(50% - 32px);
      height: 1px;
      background-color: color(neutral, 5);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  &Sosmed {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    &Item {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &Text {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-size(small);
    color: color(neutral, 6);
    margin-bottom: 0;
    a {
      margin-left: 8px;
      font-weight: fw(medium);
    }
  }
}
