/* ==========================================================================
   Variable: Grid
   ========================================================================== */

$mw-container: 1248px;
$md-container: 1200px;
$sm-container: 1040px;
