/* ==========================================================================
   Variable: Radius
   ========================================================================== */

$radius: (
  6: 6px,
  8: 8px,
  12: 12px,
  16: 16px,
  24: 24px,
  32: 32px
);
