/* ==========================================================================
   Variable: Shadow
   ========================================================================== */

$shadow: (
  1: (
    2px 2px 4px 0 rgba(0, 0, 0, 0.06),
    -2px -2px 4px 0 rgba(0, 0, 0, 0.08)
  ),
  2: (
    1px 1px 2px 0 rgba(0, 0, 0, 0.06),
    -1px -1px 2px 0 rgba(0, 0, 0, 0.06)
  ),
  3: 0 -1px 2px 0 rgba(0, 0, 0, 0.06),
  4: 1px 2px 2px 0 rgba(0, 0, 0, 0.06),
  5: 0 0 0 3px rgba(248, 236, 205, 0.6),
  6: 0px -1px 2px 0px rgba(0, 0, 0, 0.06)
);
