/* ==========================================================================
   Variable: Typography
   ========================================================================== */

$font-main: 'Helvetica Neue', sans-serif;
$font-icon: 'SFI-Group-Icon';

// Font
$font: (
  main: $font-main,
  icon: $font-icon,
  h1: (
    font-size: 4.8rem,
    line-height: 6.4rem
  ),
  h2: (
    font-size: 4rem,
    line-height: 5.6rem
  ),
  h3: (
    font-size: 3.2rem,
    line-height: 4.8rem
  ),
  h4: (
    font-size: 2.4rem,
    line-height: 3.6rem
  ),
  h5: (
    font-size: 2.2rem,
    line-height: 3.4rem
  ),
  h6: (
    font-size: 1.8rem,
    line-height: 2.8rem
  ),
  body: (
    font-size: 1.6rem,
    line-height: 2.6rem
  ),
  caption: (
    font-size: 1.4rem,
    line-height: 2.4rem
  ),
  small: (
    font-size: 1.2rem,
    line-height: 1.8rem
  ),
  x-small: (
    font-size: 1rem,
    line-height: 1.6rem
  ),
  button-large: (
    font-size: 1.6rem,
    line-height: 2.2rem
  ),
  button-medium: (
    font-size: 1.6rem,
    line-height: 2rem
  ),
  button-small: (
    font-size: 1.4rem,
    line-height: 1.6rem
  ),
  weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
  )
);
