/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  footer: 1,
  hero-banner-link: 1,
  new-product-link: 2,
  modal: 9999,
  hero-banner-dots: 5,
  select-box: 4,
  product-filter: 10,
  product-detail-content: 11,
  product-detail-foot: 8,
  checkout-shipping-item: 1,
  checkout-address-modal: 12,
  checkout-shipping-modal: 12
);
