/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  footer: 1,
  hero-banner-link: 1,
  new-product-link: 2,
  modal: 9999,
  hero-banner-dots: 5,
  select-box: 4,
  product-filter: 10,
  product-detail-content: 11,
  product-detail-foot: 10
);
